.rec .rec-arrow:hover:enabled,
.rec-arrow:focus:enabled {
  background-color: gray;
}

.rec .rec-pagination {
  display: none;
}

.rec .rec-item-wrapper {
  width: 10rem;
}

.subtitulo {
  text-transform: uppercase;
  font-size: 0.7rem;
}

.titulo {
  display: inline-block;
  border-bottom: 0.2rem solid black;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-left: 5.5rem;
  font-size: 1.8rem;
}

.linkdetalhe {
  font-size: 0.8rem;
}
