.rec .rec-arrow:hover:enabled,
.rec .rec-arrow:focus:enabled {
  background-color: gray;
}

.rec .rec-pagination {
  display: none;
}

.rec .rec-item-wrapper {
  width: 10rem;
}

.rec .rec-carousel-wrapper {
  height: 25rem;
}

.rec .rec-carousel {
  width: 85%;
  margin-left: 1.8rem;
}

.titulo {
  display: inline-block;
  font-size: 1.3rem;
  color: #656565;

  margin-top: 4rem;
  margin-bottom: 1rem;
  margin-left: 8rem;
}

.subtitulo {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.linkdetalhe {
  font-size: 0.8rem;
}
